/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/login.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

